################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/2.Procedimientos/.vs/2.Procedimientos/v16/Server/sqlite3
